#
# .gcloudignore
#
# Defines the files *not* sent to Cloud Build.
#
# Note: we could go with the default (that is built by '.gitignore' files), but there
#   are some other, unnecessary paths that don't need to be in the build.
#

# Default (follow the '.gitignore's):
#
.gcloudignore
.git
.gitignore
#!include:.gitignore

# ^-- Note: '#!include' is a command; not a comment!

/.gitmodules
/ci/
/first/

# Global '.gitignore' (of the author); not observed by Cloud Build defaults
#
/.idea/
.DS_Store

# Subpackage '.gitignore's
#
# NOTE: These are NOT observed by default by 'gcloud', and the '#!include' syntax does NOT allow paths in subdirectories.
#
# We can live with this. It's still nice to have '.gitignore' in the 'packages/*' subfolders, since they are so
# autonomous. They are the truth - list here should reflect them. If it doesn't, no big harm - just more stuff gets
# shipped at CI/CD builds.
#
# #!include:packages/app/.gitignore
# #!include:packages/app-deploy-ops/.gitignore
# #!include:packages/backend/.gitignore
#   ^-- ERROR: "May only include files in the same directory." (Google Cloud SDK 332.0.0)

#.firebase/
#.firebaserc
database-debug.log
firebase-debug.log
firestore-debug.log
ui-debug.log
.screenshots/
stats.html
*.~

packages/backend/tmp/*
packages/backend/gym/

packages/app/dist/*
packages/app/tmp/*

# Development files; not intended for CI
packages/app/.env*

packages/app/dc.base.yml
packages/app/dc.cypress.yml
packages/app/dc.prod.serve.yml
packages/app/docker-compose.local.yml
packages/app/docker-compose.online.yml
packages/app/docker-compose.tools.local.yml

packages/app/tools/gen-vite-env-online.js
packages/app/tools/gen-vite-env-local.js
packages/app/tools/gen-vite-env-prod.js
packages/app/tools/cypress.dc/Dockerfile
packages/app/tools/serve.dc/Dockerfile

packages/app/local/*.js
  # {docs|users}.js,
packages/app/dev/

packages/backend/firebase.js
packages/backend/dc.base.yml
packages/backend/docker-compose.yml
packages/backend/docker-compose.app.yml
packages/backend/docker-compose.tools.yml

packages/backend/tools/fireport.js

# CI runs use pre-built Docker images, but having '/dc/' ignored a) creates warnings from Makefile, b) disallows
# using Cloud Build for building that pre-built image. Thus, let it in.
#/dc/

# v-- Might not be accurate, any more... #cleanup
# Unfortunately, 'roll/out/*' also wipes out the '.gitkeep' (and thus the folder). We compensate this by creating
# the folder in the root level (if CI run is involved).

/ops.sandbox*/

# Branding
#
# The '/branding/favicon.png' is needed, and since '.gcloudignore' doesn't seem to support exclusion by '!', we
# use the naming of other files in there.
#
/branding/icon_*

# Documentation-like folders (irrelevant for build)
#
DEVS/
/docs/
/**/.images/
*.md
.editorconfig

*.disabled
*.delme
/_Scrap/
node_modules.tmp

# Possible left-overs
*.tgz

# Final. Keep at the bottom of the list
!.gitkeep
packages/backend/logs/
packages/backend/logs.app/
