#
# .gcloudignore
#
# Defines the files *not* sent to Cloud Build.
#
# Note: we could go with the default (that is built by '.gitignore' files), but there
#   are some other, unnecessary paths that don't need to be in the build.
#

# Default (follow the '.gitignore's):
#
.gcloudignore
.git
.gitignore
#!include:.gitignore

# ^-- Note: '#!include' is a command; not a comment!

/.gitmodules
/ci/
/firebase-ci-builder.sub/

# Global '.gitignore' (of the author); not observed by Cloud Build defaults
#
/.idea/
.DS_Store

# Subpackage '.gitignore's
#
# NOTE: These are NOT observed by default by 'gcloud', and the '#!include' syntax does NOT allow paths in subdirectories.
#
# We can live with this. It's still nice to have '.gitignore' in the 'packages/*' subfolders, since they are so
# autonomous. They are the truth - list here should reflect them. If it doesn't, no big harm - just more stuff gets
# shipped at CI/CD builds.
#
# #!include:packages/app/.gitignore
# #!include:packages/app-deploy-ops/.gitignore
# #!include:packages/backend/.gitignore
#   ^-- ERROR: "May only include files in the same directory." (Google Cloud SDK 332.0.0)

.firebase/
.firebaserc
firebase-debug.log
firestore-debug.log
ui-debug.log
firebase-debug.app.log
firestore-debug.app.log
ui-debug.app.log
.lock
#vitebox/dist/
.screenshots/
#roll/out/*
#vite/out/*
stats.html
*.~

packages/backend/tmp/*
!.gitkeep

packages/app/.env.*
packages/app/dist/

tmp.dc/

# Being deprecated
app-deploy-ops/

# v-- Might not be accurate, any more... #cleanup
# Unfortunately, 'roll/out/*' also wipes out the '.gitkeep' (and thus the folder). We compensate this by creating
# the folder in the root level (if CI run is involved).

# Branding
#
# The '/branding/favicon.png' is needed, and since '.gcloudignore' doesn't seem to support exclusion by '!', we
# use the naming of other files in there.
#
/branding/icon_*

# Documentation-like folders (irrelevant for build)
#
/DEVS/
/**/.images/
*.md
.editorconfig

*.disabled
*.delme

# Possible left-overs
*.tgz
