/node_modules/
/public/dist/

/functions/node_modules/
/functions/ui-debug.log

# Firebase hosting caches
/.firebase/

/.firebaserc

# These occur at /, /functions/, /rules-test
firebase-debug.log
firestore-debug.log
ui-debug.log

# Firebase dev config
/__.js
