# For all the subpackages
/**/node_modules/

# Firebase hosting caches
#/.firebase/

# Note: Depending on your team's work habits, you might want to keep it in version control.
/**/.firebaserc

# Remove this line if you wish to keep the access values in version control.
/firebase.staging.js
