node_modules/

# Rollup build target
/public/dist/

/dist.vite/
/.lock

# Created by 'npm run build'
/public/index.prod.html

/functions/node_modules/
/functions/ui-debug.log

# Firebase hosting caches
/.firebase/

/.firebaserc

# These occur at /, /functions/, /rules-test
firebase-debug.log
firestore-debug.log
ui-debug.log

# Firebase dev config
/__.js
